*
    {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
body
    { 
        width: 100%;
        min-height: 100vh;
        max-height: max-content;
        background: linear-gradient(rgb(248, 129, 248), rgb(167, 135, 167), rgb(109, 99, 109) );
    }